#lead_times_chart.chart
#wip_chart.chart
- finished_tasks = @project.finished_tasks
- max_lead_time = finished_tasks.map {|t| t.work_days_count}.max
:javascript
  $('#lead_times_chart').highcharts({
    chart: {
      type: 'line'
    },
    title: {
      text: ''
    },
    yAxis: {
      max: #{max_lead_time},
      title: {
        text: 'Days'
      },
      plotLines: [
        {
          color: '#ff9e2d',
          value: 3.25,
          width: 2
        },
        {
          color: '#dd0000',
          value: 6.5,
          width: 2
        }
      ]
    },
    series: [{
      name: 'Task lead time',
      data: #{finished_tasks.map {|t| [t.name, t.work_days_count]}.to_json}
    }]
  });
  $('#wip_chart').highcharts({
    chart: {
      type: 'line'
    },
    title: {
      text: ''
    },
    yAxis: {
      title: {
        text: 'WIP / day'
      }
    },
    series: [{
      name: 'WIP / day',
      data: #{@project.wip_per_day.map {|w| w[1]}.to_json}
    }]
  });
