.stats_summary
  = render partial: 'stats_item', locals: { title: 'Based on throughput', unit: 'work days',
        left_value: @project.throughput_forecast_for(@task_count), right_value: @project.throughput_forecast_for(@task_count, 3),
        right_title: 'Last 3 w', precision: 0 }
  = render partial: 'stats_item', locals: { title: 'Based on takt time', unit: 'work days',
        left_value: @project.takt_time_forecast_for(@task_count), right_value: @project.takt_time_forecast_for(@task_count, 3),
        right_title: 'Last 3 w', precision: 0 }
  = render partial: 'stats_item', locals: { title: 'Based on lead time / WIP', unit: 'work days',
        left_value: @project.lead_time_wip_forecast_for(@task_count), right_value: @project.lead_time_wip_forecast_for(@task_count, 5, 14),
        right_title: 'Last 5/14d', precision: 0 }
  .clear
