- content_for :title, @project.name

- if @project.tasks.empty?
  No tasks
- else
  .stats_summary
    .stats_item
      %span.label Average lead time:
      = @project.avg_lead_time
      days
    .stats_item
      %span.label Average lead time (last 5):
      = @project.avg_lead_time 5
      days
  #table-wrapper
    = render 'table'