- min_date = @project.min_date
- max_date = @project.max_date
- days_count = (max_date - min_date + 1).to_i
- days = @project.days
%table#data-table
  %tr
    %td Day
    - days.each do |day|
      %th= day.strftime('%a')
  %tr
    %td Date
    - days.each do |day|
      %th= day.strftime('%d.%m')
  - @tasks.each_with_index do |task, task_no|
    %tr
      %td= task_no+1
      - days.each do |day|
        - if day < task.start_date || (task.end_date && task.end_date < day)
          %td &nbsp;
        - elsif day == task.start_date
          - if task.end_date
            %td.active{colspan: task.days_count}= task.days_count
          - else
            %td.unfinished{colspan: task.current_days_count} ?
