- content_for :title, @project.name

- if @project.tasks.empty?
  No tasks
- else
  .stats_summary
    = render partial: 'stats_item', locals: { title: 'Average lead time', unit: 'days',
        left_value: @project.avg_lead_time, right_value: @project.avg_lead_time(5), right_title: 'Last 5' }
    = render partial: 'stats_item', locals: { title: 'Average WIP', unit: 'per day',
        left_value: @project.avg_wip, right_value: @project.avg_wip(14), right_title: '14 days' }
    = render partial: 'stats_item', locals: { title: '1-piece-flow lead time', unit: 'days: lead time / WIP',
        left_value: @project.avg_lead_time / @project.avg_wip,
        right_value: @project.avg_lead_time(5) / @project.avg_wip(14), right_title: 'Last 5' }
    .clear
  #table-wrapper
    = render 'table'