.form_errors {
    color: #fff;
    background-color: #dd0000;
    border-radius: 2px;
    padding: 5px;
}

.form_field {
    margin: 5px 0;
}

.form_field label {
    display: inline-block;
    min-width: 200px;
}

.field_with_errors {
    color: #dd0000;
    display: inline-block;
}

.today_link {
    font-size: 90%;
}

input[type='text'] {
    padding: 8px;
    margin: 0 0 5px;
    width: 200px;
}

.new_project_form input[type='text'] {
    width: 150px;
}

input[type='submit'] {
    background-color: #138815;
    border: solid #138815 1px;
    border-radius: 2px;
    box-shadow: #888 2px 2px;
    color: #fff;
    cursor: pointer;
    padding: 10px;
}

input[type='submit'].small_button {
    padding: 7px;
}

input[type='submit']:hover {
    background-color: #fff;
    color: #138815;
}

.task_count_form {
    display: inline;
}

input[type='text'].task_count_field {
    display: inline;
    width: 30px;
}

.form_field_hint {
    color: #666;
    font-size: 0.8em;
    font-style: italic;
}