#table-wrapper {
    overflow: auto;
    max-width: 1200px;
}

#data-table {
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 11px;
}

#data-table th, #data-table td {
    border: 1px solid #ccc;
    margin: 0;
    text-align: center;
    width: 18px;
}

#data-table th {
    padding: 2px;
}

#data-table td {
    padding: 2px 0;
}

#data-table td.active {
    color: #fff;
    background-color: #138815;
}

#data-table td.unfinished {
    color: #fff;
}

#data-table td.unfinished.length_bad {
    background-color: #dd0000;
}

#data-table td.unfinished.length_worrying {
    background-color: #ff9e2d;
}

#data-table td.unfinished.length_ok {
    background-color: #ffde25;
}

#data-table td a {
    color: #fff !important;
}

#data-table td.active a:hover {
    color: #138815 !important;
    background-color: #fff;
}

#data-table td.unfinished.length_bad a:hover {
    color: #dd0000 !important;
    background-color: #fff;
}

#data-table td.unfinished.length_worrying a:hover {
    color: #ff9e2d !important;
    background-color: #fff;
}

#data-table td.unfinished.length_ok a:hover {
    color: #ffde25 !important;
    background-color: #fff;
}

#data-table #tasks-row {
    border-bottom: solid 2px #000;
}

#data-table #tasks-row td {
    border-left: none;
    border-right: none;
}

td .cell_link {
    display: inline-block;
    height: 100%;
    width: 100%;
}
